#set($title="成功案例-$fuwuCase.title")
#set($layout = "layout/commonLayout.vm")
<link rel="stylesheet" href="$staticHttp/styles/personinfo.css" xmlns="http://www.w3.org/1999/html">
<p class="sellerCase-description">$fuwuCase.description</p>